@font-face {
  font-family: 'Roboto-Regular';
  src: url('/static/styles/fonts/Roboto-Regular.ttf') format('truetype');
}
html, body, #app {
	height:100%;
	font-family: 'Roboto-Regular', sans-serif !important;
	letter-spacing: 0 !important;
}
.vee-color {
    color: #FF8737 !important;
}

.btn-warning {
    color: #fff;
    background-color: #FF8737;
    border-color: #FF8737 !important;
}

.btn-link {
    color: #FF8737 !important;
}
.dropdown-menu{
    min-width: 0px !important;
}

.pd-select .btn { 
    border-color: #E8E9ED !important;
    font-size: 15px !important;
    color: #696B8A !important;
    letter-spacing: 0 !important;
    align-items: Center !important;
    border-radius: 0.25rem !important;
    background-color: #fff !important;
    padding-left: 10px !important;
    padding-right:10px !important;
}
:focus {
	outline: none;
}
.dropdown-item {
    color: #696B8A;
}
.dropdown-item:focus {
    color: #696B8A;
    text-decoration: none;
    background-color: rgba(254, 124, 59, 0.2);
}
.dropdown-item:active {
    text-decoration: none;
    background-color: rgba(254, 124, 59, 0.7);
    color: rgba(0, 0, 0, 0.4);
}
.form-control:focus {
	border-color: #FF8737;
	box-shadow: none;
}
.btn-warning:focus {
    box-shadow: none;
}
.btn-warning:hover {
	background-color: #EB7D34;
    box-shadow: none;
    color: #FFF;
}
.btn-warning:not(:disabled):not(.disabled):active, .btn-warning:not(:disabled):not(.disabled).active, .show > .btn-warning.dropdown-toggle {
	background-color: #EB7D34;
    box-shadow: none;
    color: #FFF;
}
.btn-warning.disabled, .btn-warning:disabled {
    color: #FFF;
    background-color: #FF8737;
    border-color: #ffc107;
}
